# Visual Studio Code files
.vscode/*

# .NET Core files
bin/
obj/
*.log
*.dll
*.exe

# Packages folder
**/packages/*

# User-specific files
*.user
*.suo
*.cache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Other files
*.nuget.props
*.nuget.targets
*DS_Store
*.bak
*.config
*.dbmdl
*.jfm
*.pfx
*.pubxml
*.publishsettings
*.scc
